[alias]
	co = checkout
	s = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	b = branch --sort=-committerdate

[user]
	name = Zygimantas Gatelis
	email = zygis.gg@gmail.com

[core]
	excludesfile = /Users/zee/.gitignore_global

[push]
	default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[branch]
    autosetuprebase = always
[branch "master"]
    rebase = true
[rebase]
    stat = true
[push]
    default = current
[web]
    browser = open
[core]
    excludesfile = ~/.gitignore
