[alias]
	co = checkout
	s = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[user]
	name = Zygimantas Gatelis
	email = zygis.gg@gmail.com

[core]
	excludesfile = /Users/zee/.gitignore_global

[push]
	default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
